
.hero {
    background: url("../images/ibm-hero.png") no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #006EB0;
    opacity: 0.6;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
}

.hero-content__title {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000000c4;
    z-index: 1;
}
