/*.section {*/
/*    padding-top: 60px;*/
/*    padding-bottom: 60px;*/
/*}*/

.hero {
    background: url("../images/ibm-hero.png") no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
}

.image-blended {
    background-color: #006EB0;
    background-blend-mode: multiply;
}

.hero-content__title {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000000c4;
}

/*section-----------------*/

.section-power {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-system {
    display: flex;
    justify-content: space-between;
}

.section-system__text {
    margin-right: 80px;
}

.section-system__text__title {
    text-transform: capitalize;
    color: #006eb0;
    font-size: 28px;
}

.section-system__text__desc {
    color: #888888;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 130px;
}

.section-system__text__link {
    display: inline-block;
    text-decoration: none;
    background-color: #ed6f2b;
    color: #ffffff;
    text-transform: capitalize;
    padding: 15px 60px;
    border-radius: 5px;
    font-weight: 600;
}

.section-system__img {
    display: block;
}
