
.hero {
    background: url("../images/ibm-hero.png") no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-background {
    background: url("../images-3/hero-3.png") no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.hero-img {
    background: url("../images-4/hero-background.png") no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #006EB0;
    opacity: 0.6;
}

.inner-wrapper {
    display: flex;
    justify-content: flex-end;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.2;
    text-shadow: 1px 1px 1px #33333354;
    margin-top: 10px;
}

.hero-wrapper__img {
    display: block;
    object-fit: cover;
    max-width: 400px;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
}

.hero-wrapper__heading {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-wrapper__desc {
    color: #ffffff;
    font-weight: 100;
    line-height: 1.2;
}

.hero-wrapper__desc::first-letter {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}

.hero-wrapper__img::after {
    display: block;
    content: "";
    height: 2px;
    width: 100px;
    color: #ffffff;

}

.hero-content__title {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000000c4;
    z-index: 1;
}
