.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section-wrapper__content {
    margin-right: 80px;
}

.section-wrapper__content__title {
    text-transform: capitalize;
    color: #006eb0;
    font-size: 28px;
}

.section-wrapper__content__desc {
    color: #888888;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 130px;
    line-height: 1.4;
}

.link {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: 600;
}

.section-wrapper__content__link {
    background-color: #ed6f2b;
    color: #ffffff;
    padding: 18px 80px;
}

.section-wrapper__img {
    display: block;
}

.section-cards__heading {
    color: #006eb0;
    text-align: center;
    font-size: 22px;
}

.section-cards__desc {
    color: #888888;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 60px;
    line-height: 1.4;
}

.card-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 60px;
}

.card-wrapper-2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 60px;
}

.card {
    text-align: center;
    padding: 70px 50px;
    box-shadow: 0px 0px 16px #00000040;
}

.card-img {
    display: inline-block;
}

.card-title {
    color: #777777;
    font-size: 22px;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 20px;
}

.card-desc {
    color: #888888;
    font-size: 16px;
    line-height: 1.5;
}

.section-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section-reverse .section-wrapper__content {
    margin-left: 40px;
    margin-right: 0;
}
