
.section-power {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-system {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section-system__text {
    margin-right: 80px;
}

.section-system__text__title {
    text-transform: capitalize;
    color: #006eb0;
    font-size: 28px;
}

.section-system__text__desc {
    color: #888888;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 130px;
}

.section-system__text__link {
    display: inline-block;
    text-decoration: none;
    background-color: #ed6f2b;
    color: #ffffff;
    text-transform: capitalize;
    padding: 18px 80px;
    border-radius: 5px;
    font-weight: 600;
}

.section-system__img {
    display: block;
}

.section-power__header {
    color: #006eb0;
    text-align: center;
    font-size: 22px;
}

.section-power__desc {
    color: #888888;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 60px;
    line-height: 1.3;
}

.card-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 60px;
}

.card {
    text-align: center;
    padding: 70px 50px;
    box-shadow: 0px 0px 16px #00000040;
}

.card-img {
    display: inline-block;
}

.card-title {
    color: #777777;
    font-size: 22px;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 20px;
}

.card-desc {
    color: #888888;
    font-size: 16px;
    line-height: 1.5;
}

.section-storage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section-storage .section-system__text {
    margin-left: 40px;
    margin-right: 0;
}
