.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section-wrapper__coordinate {
    margin-bottom: 0;
}

.section-wrapper__content {
    margin-right: 80px;
}

.title {
    text-transform: uppercase;
}

.sub-title {
    text-transform: uppercase;
}

.section-wrapper__content__title {
    text-transform: capitalize;
    color: #006eb0;
    font-size: 28px;
    font-weight: 400;
}

.section-wrapper__content__sub-title {
    color: #006eb0;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
}

.section-wrapper__content__desc {
    color: #888888;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 130px;
    line-height: 1.4;
}

.desc {
    margin-top: 20px;
    margin-bottom: 30px;
}

.complement {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #888888;
}

.link-wrapper-img {
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

.link {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: 600;
}

.section-wrapper__content__link {
    background-color: #ed6f2b;
    color: #ffffff;
    padding: 18px 80px;
}

.section-wrapper__img {
    display: block;
}

.section-cards__heading {
    color: #006eb0;
    text-align: center;
    font-size: 22px;
}

.section-cards__heading-coordinate {
    font-weight: 600;
    font-size: 30px;
}

.section-cards__desc {
    color: #888888;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 60px;
    line-height: 1.4;
}

.card-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 60px;
}

.card-plans__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 60px;
}

.card-wrapper-2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 60px;
}

.card {
    text-align: center;
    padding: 70px 50px;
    box-shadow: 0px 0px 16px #00000040;
}

.card-plan {
    text-align: left;
    padding-bottom: 0;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-row {
    display: flex;
    //justify-content: space-between;
    align-items: center;
}

.card-plan__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.card-img {
    display: inline-block;
}

.card-title {
    color: #777777;
    font-size: 22px;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 20px;
}

.card-coordinate {
    margin-left: 20px;
}

.card-desc {
    color: #888888;
    font-size: 16px;
    line-height: 1.5;
}

.card-plan__desc {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-tile {
    color: #777777;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-list {
    list-style-type: decimal;
    padding-left: 20px;
    color: #777777;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}

.card-link {
    font-weight: 400;
    text-align: center;
    display: block;
    background-color: #c8722c;
    color: #ffffff;
    border-radius: unset;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-link__primary {
    background-color: #3b76be;
}

.section-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section-reverse .section-wrapper__content {
    margin-left: 40px;
    margin-right: 0;
}
